<h1>
  {{title}}
</h1>
<br>
<div>
  <label>EdadUno </label>
  <input type="number"  [(ngModel)] = "edadUno">
</div>

<br>
<div>
  <label>EdadDos </label>
  <input type="number"  [(ngModel)] = "edadDos">
</div>
<br>
<div>
  <label>Suma </label>
  <input type="number"  [(ngModel)] = "sum">
</div>

<br>
<div>
  <label>Prom </label>
  <input type="number"  [(ngModel)] = "prom">
</div>

<br>
<div>
  <button (click)="calcular()">Calcular</button>
  <button (click)="limpiar()">Limpiar</button>
</div>


<router-outlet></router-outlet>
